* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }

header {
    padding: 2%;
    background: teal;
    text-align: Left;
    color: white;
}

nav {
    display: flex;
    justify-content: flex-end;

}

nav a {
    color: lightgray;
    font-weight: bold;
    padding: 5px 5px;
    text-align: center;
}

article {
    text-align: right;
}

.about-me-container {
    margin: 15px 15px 15px 15px;
    border: 5px solid black;
    overflow: auto;
}

.about-me-pic {
    float: left;
    margin: 0 20px 0 0;
}

.about-me-pic img{
    display: block;
}

.about-me-content {
    margin-left: 100px;
}

.about-me-content p {
    text-align: left;
    margin: 20px;
}
.about-me-title {
    margin-right:20px;
    font-weight: bold;
    font-size: 250%;
    text-align: right;
}

.work-container {
    display: flex;
    flex-flow: column wrap;
    padding: 2%;
}

.box {
    flex: auto;
    border: 2px;
}


@media screen and (max-width: 600px) {
    main,
    nav {
      flex-direction: column;
    }